body {
    background-color: #FAF1E6;
    color: #413d3d;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

a {
    color: #413d3d;
}

header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
}

.hamburger-menu {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hamburger-lines {
    width: 1.5em;
    height: .25em;
    margin: .25em 0;
    background-color: #FAF1E6;
    border-radius: 5px;
}

.hamburger-menu:hover .hamburger-lines {
    background-color: #413d3d;
}

.header-title {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .circle-decoration {
    background-color: #413d3d;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
} */
/* .baseball-icon {
    width: 3em;
    height: 3em;
    display: none;
} */

h1 {
    font-size: 1.5em;
    font-weight: 900;
    padding: 0 13.5% 0;
    margin: .5em 0 .25em;
}

h3 {
    font-weight: 700;
    font-size: .75em;
    padding: .25em;
    margin: 0 0 .25em;
}

.main-container {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}

.menu {
    font-weight: 700;
    background-color: #413d3d;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border-width: 1px;
}

#menu-left {
    order: 1;
}

#menu-right {
    order: 3;
}

.menu-item {
    background-color: #FAF1E6;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#transaction-list {
    display: flex;
    flex-direction: column;
    order: 2;
    width: auto;
    margin: 0 2px;
    padding: 5px;
    border-radius: 5px;
}

#player-display {
    width: auto;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 5px;
}

#player-details1,
#player-details2 {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .25em;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

.team-names {
    padding: 5px;
    width: 100%;
}

.team-color-indicator {
    width: 10px;
    height: auto;
}

/*mobile query*/
@media only screen and (min-width: 1px) {
    .main-container {
        display: block;
    }

    .menu {
        display: none;
    }
}

/*mid-to-large mobile query*/
@media only screen and (min-width: 375px) {

    h1 {
        padding: 0 6% 0;
    }

    h3 {
        padding: .25em .5em .25em;
    }
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    header {
        margin: 7px;
        border-radius: 25px;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
        padding: .25em;
        margin: 0 0 .5em;
    }

    .hamburger-menu {
        display: none;
    }

    .main-container {
        display: flex;
    }

    .menu {
        display: flex;
        width: 13em;
        padding: 1px;
        border-style: solid;
    }

    #transaction-list {
        width: 20em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    header {
        margin: 9px;
        border-radius: 50px;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.25em;
        padding: .5em;
        margin: 0 0 1em;
    }

    #transaction-list {
        width: 40em;
    }
}

/*Huge screen query*/
@media only screen and (min-width: 1200) {
    #transaction-list {
        width: 40em;
    }
}