/* Team colors */

.colors-mlb {
    background-color: #413d3d;
    color: #FAF1E6;
}

.colors-diamondbacks {
    background-color: #A71930;
    color: #E3D4AD;
}

.colors-braves {
    background-color: #CE1141;
    color: #13274F;
}

.colors-orioles {
    background-color: #DF4601;
    color: #000000;
}

.colors-red-sox {
    background-color: #BD3039;
    color: #0C2340;
}

.colors-cubs {
    background-color: #0E3386;
    color: #CC3433;
}

.colors-white-sox {
    background-color: #27251F;
    color: #C4CED4;
}

.colors-reds {
    background-color: #C6011F;
    color: #000000;
}

.colors-guardians {
    background-color: #00385D;
    color: #E50022;
}

.colors-rockies {
    background-color: #333366;
    color: #C4CED4;
}

.colors-tigers {
    background-color: #0C2340;
    color: #FA4616;
}

.colors-astros {
    background-color: #002D62;
    color: #EB6E1F;
}

.colors-royals {
    background-color: #004687;
    color: #BD9B60;
}

.colors-angels {
    background-color: #BA0021;
    color: #003263;
}

.colors-dodgers {
    background-color: #005A9C;
    color: #FFFFFF;
}

.colors-marlins {
    background-color: #00A3E0;
    color: #EF3340;
}

.colors-brewers {
    background-color: #12284B;
    color: #FFC52F;
}

.colors-twins {
    background-color: #002B5C;
    color: #D31145;
}

.colors-mets {
    background-color: #002D72;
    color: #FF5910;
}

.colors-yankees {
    background-color: #0C2340;
    color: #C4CED3;
}

.colors-athletics {
    background-color: #003831;
    color: #EFB21E;
}

.colors-phillies {
    background-color: #E81828;
    color: #002D72;
}

.colors-pirates {
    background-color: #FDB827;
    color: #27251F;
}

.colors-padres {
    background-color: #2F241D;
    color: #FFC425;
}

.colors-giants {
    background-color: #FD5A1E;
    color: #27251F;
}

.colors-mariners {
    background-color: #0C2C56;
    color: #C4CED4;
}

.colors-cardinals {
    background-color: #C41E3A;
    color: #0C2340;
}

.colors-rays {
    background-color: #092C5C;
    color: #8FBCE6;
}

.colors-rangers {
    background-color: #003278;
    color: #C0111F;
}

.colors-blue-jays {
    background-color: #134A8E;
    color: #FFFFFF;
}

.colors-nationals {
    background-color: #AB0003;
    color: #FFFFFF;
}